files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar
            AGENT_PATH=/var/app/current/agent
            # run app
            killall java


            java -jar \
                -javaagent:$AGENT_PATH/pinpoint-bootstrap-2.2.3-NCP-RC1.jar \
                -Dpinpoint.config=$AGENT_PATH/pinpoint-root.config \
                -Dpinpoint.applicationName=boilerplate \
                -Dpinpoint.agentId=hojun \

                $JAR_PATH
#            java -Dfile.encoding=UTF-8 -jar $JAR_PATH